@model IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}




@if (User.Identity?.IsAuthenticated ?? false)
{
    <a asp-action="create" asp-controller="CreatePerson" class="btn btn-primary">Create Person</a>

    <a href="Persons/" class="btn btn-secondary">Listado</a>
    
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
    </div>
}
